In [ ]:
import numpy as np
import pandas as pd

In [7]:
# Create a 1D NumPy array with values from 10 to 50
arr = np.array(range(10, 51))
print(arr)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

In [8]:
#• Create a 3×3 matrix with random integers between 1 and 100
arr = np.random.randint(1,100,size=(3,3) )
print(arr)

[[74 22 56]
 [48 74 53]
 [23 21 95]]

In [9]:
# Find the mean, median, and standard deviation of the array in (1)

import numpy as np

# Generate a random array with 10 values
arr = np.random.randint(1, 100, size=10)  # Random integers between 1 and 99
print("Array:", arr)

# Mean
mean_val = np.mean(arr)
print("Mean:", mean_val)

# Median
median_val = np.median(arr)
print("Median:", median_val)

# Standard Deviation
std_val = np.std(arr)
print("Standard Deviation:", std_val)

Array: [20 87  1 47 75 61 50 38 44 53]
Mean: 47.6
Median: 48.5
Standard Deviation: 23.57201730866495

In [10]:
import numpy as np

#Replace all odd numbers in the array with -1

# Generate a random array
arr = np.random.randint(1, 100, size=10)
print("Original Array:", arr)

# Replace odd numbers with -1
arr[arr % 2 == 1] = -1
print("Modified Array (odds replaced with -1):", arr)

arr = np.random.randint(0,100)

Original Array: [67 48 67 17 99 87 52 30 46 72]
Modified Array (odds replaced with -1): [-1 48 -1 -1 -1 -1 52 30 46 72]

In [11]:
-# Reshape the 3×3 matrix into a 1×9 array
reshaped_array = arr.reshape(1,10)
print(reshaped_array)

SyntaxError: invalid syntax (1051827501.py, line 1)

In [ ]:
# Find all elements greater than 25 in your array
import numpy as np

# Your existing array (replace with yours)
arr = np.array([12, 38, 5, 42, 27, 19, 60])

# Boolean mask of elements > 25
mask = arr > 25

# Elements greater than 25
greater_than_25 = arr[mask]

print("Mask:", mask)                    # [False  True False  True  True False  True]
print("Elements > 25:", greater_than_25) # [38 42 27 60]

Mask: [False  True False  True  True False  True]
Elements > 25: [38 42 27 60]

In [ ]:
#• Count how many elements are divisible by 5
import numpy as np

# Your array (replace with your own variable if it already exists)
arr = np.array([12, 38, 5, 42, 27, 19, 60, 75])

# Boolean mask for “divisible by 5”
mask = (arr % 5 == 0)

# Count how many
count_div_by_5 = np.sum(mask)

print("Mask:", mask)                 # [False False  True False False False  True  True]
print("Total divisible by 5:", c

_IncompleteInputError: incomplete input (3136549915.py, line 15)

In [ ]:
# Create a Series scores with values: [87, 45, 92, 67, 55], and index as ['A', 'B', 'C',
'D', 'E']

import pandas as pd

scores = pd.Series([87, 45, 92, 67, 55], index=['A', 'B', 'C', 'D', 'E'])
print(scores)

SyntaxError: unmatched ']' (2382685811.py, line 2)

In [ ]:
# #Create a DataFrame students with columns:
# o 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva']
# o 'Math': [87, 45, 92, 67, 55]
# o 'Science': [78, 66, 80, 72, 60]

import pandas as pd

students = pd.DataFrame({
    'Name':    ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Math':    [87, 45, 92, 67, 55],
    'Science': [78, 66, 80, 72, 60]
})

print(students)

In [ ]:
#• Add a new column "Average" = average of Math and Science scores
import pandas as pd

# Existing DataFrame
students = pd.DataFrame({
    'Name':    ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Math':    [87, 45, 92, 67, 55],
    'Science': [78, 66, 80, 72, 60]
})

# Add the "Average" column
students['Average'] = (students['Math'] + students['Science']) / 2

print(students)

In [ ]:
#• Sort the DataFrame by "Average" in descending order
# Sort by 'Average' in descending order
students_sorted = students.sort_values(by='Average', ascending=False)

print(students_sorted)

In [ ]:
# • Filter students who scored more than 70 in both subjects
high_scorers = students[(students['Math'] > 70) & (students['Science'] > 70)]

print(high_scorers)

In [ ]:
# Add a new row with missing values (e.g., name: 'Frank', Math: NaN, Science:
# NaN)

import numpy as np
import pandas as pd

# Existing DataFrame
students = pd.DataFrame({
    'Name':    ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Math':    [87, 45, 92, 67, 55],
    'Science': [78, 66, 80, 72, 60]
})

# Add Average column
students['Average'] = (students['Math'] + students['Science']) / 2

# New row with missing values
new_row = pd.DataFrame([{
    'Name': 'Frank',
    'Math': np.nan,
    'Science': np.nan,
    'Average': np.nan
}])

# Add the row to the DataFrame
students = pd.concat([students, new_row], ignore_index=True)

print(students)

In [ ]:
#• Fill missing values with column means
import pandas as pd
import numpy as np

# Original DataFrame with missing row (e.g., Frank)
students = pd.DataFrame({
    'Name':    ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Math':    [87, 45, 92, 67, 55, np.nan],
    'Science': [78, 66, 80, 72, 60, np.nan],
    'Average': [82.5, 55.5, 86.0, 69.5, 57.5, np.nan]
})

# Fill missing values with column means
students[['Math', 'Science', 'Average']] = students[['Math', 'Science', 'Average']].fillna(
    students[['Math', 'Science', 'Average']].mean()
)

print(students)

In [ ]:
#• Drop rows with any remaining NaN (if any)
# Drop rows with any remaining NaN values
students.dropna(inplace=True)

print(students)

In [ ]:
# @title Cleaning data